/* Basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Garamond;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1E3A8A;
    color: #FFFFFF;
}

/* Header styling */
header {
    background-color: #0c1635;
    padding: 1rem;
    z-index: 1000;
}

/* Menu styling */
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    text-decoration: none;
    color: #FFC107;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
    background-color: #003366;
    color: #FFC107;
}

.menu a.active {
    background-color: #FFC107;
    color: #1E3A8A;
}

/* Main content styling */
main {
    padding: 2rem;
    text-align: center;
    flex: 1;
}

/* Update text color for sections */
p {
    font-size: 17px;
}
h1, h2 {
    color: #FFC107;
    font-size: 32px;
}
h4 {
    font-size: 17px;
    font-weight: normal;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .menu li {
        margin-bottom: 0.5rem;
    }
    .text-photo-container {
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-photo-container img, .text-photo-container p {
        width: 100%;
        text-align: center;
    }
    h4 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .photo-collage, .photo-collage-2 {
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .video-gallery {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .banner-image {
        width: 100%;
    }
}
